.block {
  display: block; }

.theme-color {
  color: #ffcf99; }

.center {
  text-align: center; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif, 'Segoe UI';
  font-weight: 400; }

html {
  font-size: 62.5%; }

li {
  list-style: none;
  color: #2b2732; }

a {
  text-decoration: none;
  color: #000; }

header {
  padding: 2rem 10rem;
  margin-bottom: 35vh;
  background-color: #fef8f1;
  height: 70vh; }

p {
  text-align: center;
  font-family: 300;
  color: #878d97;
  font-size: 1.3rem;
  line-height: 1.5; }

.heading-primary {
  margin-bottom: 2rem;
  font-size: 4.5rem;
  text-align: center;
  font-weight: 900; }

.heading-secondary {
  font-size: 3rem;
  text-align: center; }

.heading-tertiary {
  font-size: 2rem; }

.menu-box {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 2rem; }

.hover-underline-animation {
  display: block;
  position: relative;
  padding: .4rem 0; }

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: .2rem;
  bottom: 0;
  left: 0;
  background-color: #ed9a43;
  transform-origin: center;
  transition: transform 0.25s ease-out; }

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center; }

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  font-size: 1.5rem;
  font-weight: 500; }

.logo-box {
  justify-self: start; }

.logo {
  width: 10rem; }

.btn {
  justify-self: end;
  font-size: 1.3rem;
  font-weight: 500;
  color: #c96200;
  background-color: #ffe2c2;
  padding: 1rem 1.5rem;
  border-radius: .8rem;
  transition: all .2s ease; }
  .btn:hover {
    transform: scale(1.05);
    background-color: #ffcf99; }

.hero-section {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.315)), url("../img/hero section.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  border-radius: 1.5rem;
  box-shadow: 1rem 1rem 2rem 0.1rem rgba(0, 0, 0, 0.2); }
  .hero-section--box {
    width: 70rem;
    margin-bottom: 2rem; }
    .hero-section--box h1:first-child {
      color: #fef8f1; }
  .hero-section--p {
    color: rgba(240, 248, 255, 0.747); }

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .search-box span {
    color: #fef8f1;
    font-size: 1.2rem; }

.search-bar {
  display: flex;
  background-color: white;
  width: 45rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem; }
  .search-bar input {
    border-radius: 2rem;
    padding: 2rem;
    border: 0;
    outline: none;
    flex: 1;
    background: transparent; }
  .search-bar button {
    width: 5rem;
    height: 3.5rem;
    border: 0;
    outline: none;
    background-color: #ed9a43;
    color: rgba(0, 0, 0, 0.774);
    font-size: 1.5rem;
    border-radius: 5rem;
    cursor: pointer;
    margin-right: .3rem; }

.trusted {
  margin: 2rem 10rem;
  margin-bottom: 7rem;
  grid-auto-flow: column; }
  .trusted h3 {
    color: #b2b2b2;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center; }

.img-box {
  display: flex;
  justify-content: space-between; }
  .img-box img {
    width: 15rem; }

.components {
  margin: 2rem 10rem 10rem; }
  .components__box {
    margin: 0 auto;
    width: 70rem;
    margin-bottom: 4rem; }

.card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2.5rem;
  justify-items: center; }

.card {
  background-color: #ffffff;
  box-shadow: 0rem 0rem 2rem 0.1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  border-radius: 2rem; }
  .card img {
    width: 100%;
    object-fit: cover;
    height: 16.5rem;
    border-radius: 2rem 2rem 0 0; }
  .card__textbox {
    margin: 2.5rem 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .card__textbox i {
      font-size: 1.7rem;
      color: #2929c2;
      cursor: pointer; }
    .card__textbox--1 span {
      color: #b2b2b2;
      display: inline-block;
      font-size: 1.4rem;
      margin-top: .5rem; }
  .card__p {
    text-align: left;
    margin: 3rem 3rem; }

.categories {
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center; }
  .categories__text {
    background-image: linear-gradient(to right, #f3f3f3, #d7d7d7);
    padding: .5rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .categories__no {
    background-color: #ffffff;
    display: flex;
    text-align: center;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-left: 1rem; }

.cat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem; }

.btn-blue {
  color: blue;
  font-size: 1.5rem;
  text-align: center;
  display: block; }

.background {
  height: 50vh;
  width: auto;
  background-size: cover;
  background-position: center;
  margin-bottom: 10rem; }
  .background img {
    background-size: cover;
    background-position: center; }

.magic {
  margin: 0 10rem 10rem;
  text-align: center; }
  .magic__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center; }
  .magic__box {
    max-width: 50rem; }
    .magic__box img {
      width: 20rem; }
  .magic__p {
    font-size: 1.3rem;
    margin-top: 2rem; }

.design {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin: 0 10rem 10rem;
  gap: 3rem; }
  .design__box {
    border-radius: .5rem;
    border: .2rem solid #b2b2b23b; }
    .design__box img {
      width: 100%;
      height: 80%;
      object-fit: cover;
      background-position: center;
      background-size: cover;
      border-radius: .5rem .5rem 0 0;
      border-bottom: .2rem solid #b2b2b23b; }
    .design__box--6 {
      grid-column: 2 / 4;
      border: none;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      justify-content: center; }
      .design__box--6 a {
        display: inline-block;
        text-align: center;
        margin: 0 auto; }
  .design__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    height: 16%; }

.link {
  margin: 0 10rem 10rem; }
  .link__boxes {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center; }
  .link a {
    font-size: 1.5rem;
    color: #878d97; }

footer {
  padding: 5rem 10rem;
  background-color: #f9fafb; }

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.1rem; }
  .footer-box div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #878d97; }
    .footer-box div span {
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .1rem; }
    .footer-box div a {
      color: #878d97; }

.footer__logo-box {
  display: flex;
  flex-direction: column;
  gap: 10rem; }
  .footer__logo-box img {
    width: 10rem;
    margin-bottom: 3rem; }
  .footer__logo-box p {
    margin-bottom: 3rem; }

.hor-line {
  border: 0;
  margin: 3rem 0;
  border-top: 0.1rem solid rgba(194, 193, 193, 0.329); }

.copyright {
  text-align: center;
  display: block;
  color: #878d97;
  font-size: 1.4rem; }
