//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, 'Segoe UI';
    font-weight: 400;
    //padding: 3rem 10rem;
}

html {
    font-size: 62.5%;
}
li {
    list-style: none;
    color: #2b2732;
}
a {
    text-decoration: none;
    color: #000;
}
header {
    padding: 2rem 10rem;
    background-color: #fef8f1;
}

.menu-box {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
}

.menu {
    display: flex;
    gap: 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    
}

.logo-box {
    justify-self: start;
}
.logo {
    width: 10rem;
}

.btn {
    justify-self: end;
    font-size: 1.3rem;
    font-weight: 500;
    color: #c96200;
    background-color: #ffe2c2;
    padding: 1rem 1.5rem;
    border-radius: .8rem;
}

